.sidebar{
width:230px;
background:#0b6efd;
color:white;
height:100vh;
padding:20px;
transition:0.4s;
}

.sidebar.collapsed{
width:70px;
}

.toggleBtn{
font-size:22px;
border:none;
background:none;
cursor:pointer;
}

.logoutBtn{
width:100%;
padding:10px;
margin-top:20px;
border:none;
border-radius:10px;
background:#ff4d4d;
color:white;
cursor:pointer;
}
