body{
    margin:0;
    font-family:Arial;
    background: linear-gradient(45deg,#0f2027,#203a43,#2c5364);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.center-box{
    padding:40px;
}

.btn{
    background:gold;
    padding:12px 25px;
    text-decoration:none;
    color:black;
    border-radius:6px;
    font-weight:bold;
}
